// Reset

@import "_reset.scss";

// Typography

@import "_typography.scss";

// Styles

html {
	height: 100%;
}

body {
	background-color: #EFEFEF;
	width: 100%;
	height: 100%;
	font-size: 100%;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
}

.section {
	width: 100%;
	height: 100%;
}

// Nav

.nav {
	width: 100%;
	height: 4em;
	background-color: white;
	position: fixed;
}

.icon {
	float: left;
	width: 64px;
	height: 64px;
	background: url(../img/logo.png) center center no-repeat; 
	-webkit-background-size: 46px;
	-moz-background-size: 46px;
	-o-background-size: 46px;
	background-size: 46px;
}

.nav a.link {
	float: left;
	text-decoration: none;
	font-size: 0.9em;
	padding: 1.7em 1.3em;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

.logo-text {
	float: left;
	text-decoration: none;
	font-size: 1em;
	padding: 1.5em 1.5em 1.5em 0em;
	font-weight: bold;
}

.logo {
	float: left;
}

a.link:hover, .logo:hover {
	background-color: #F1F1F1;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

// Sections

#about, #events, #gallery {
	display: none;
}

.overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	overflow: hidden;
	z-index: 2;
}

.stage {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#home {
	background: url(../img/stagoutjake.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#about {
	background: url(../img/sample2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#events {
	background: url(../img/sample3.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

// Misc

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }